/.tmp
/mock
/custom.sh

/dot/Xresources
/dot/gitconfig
/config/k9s/config.yml
/config/nvim/lua/.luarc.json

/bin/gifgen
/bin/helm-docs
/bin/k9s
/bin/kubectl
/bin/daytona
/bin/cloudflared
/bin/tig

/assets/fonts/berkeley-mono/
.uuid
.claude
