snippet log "console.log"
	console.log(${1});${0}

snippet d
	const { ${1} } = ${2:props};

snippet af "arrow function"
	() => {
		${0}
	}

snippet imp "import module"
	import ${1} from "${3}";${0}

snippet impp "import from module"
	import { ${1} } from "${3}";${0}
